@import 'tailwindcss';

/* --- Añade la regla @font-face para tu fuente local --- */
/* Asegúrate de que los nombres de archivo (.ttf, .ttf) y las rutas sean correctas */
/* Las rutas deben ser relativas a la carpeta 'public' y empezar con '/' */

/* Regla para la versión normal (no itálica) de la fuente variable */
@font-face {
  font-family: 'Montserrat';
  /* Define las fuentes locales que has guardado */
  /* Es buena práctica listar varios formatos para compatibilidad de navegadores */
  /* Empieza por WOFF2 (más moderno y eficiente), luego WOFF, etc. */
  /* Asegúrate de usar los nombres exactos de tus archivos */
  src: url('/font/monserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
  /* Ejemplo para variable font WOFF */
  /* Añade otras líneas src si tienes archivos .ttf, .otf, etc. */

  font-weight: 100 900;
  /* Rango de pesos de la variable font (Thin a Black) */
  font-style: normal;
  font-display: swap;
  /* Indica al navegador cómo manejar la carga de la fuente (mejora UX) */
}

/* Si descargaste también la versión itálica variable, añade otra regla @font-face */
@font-face {
  font-family: 'Montserrat';
  src: url('/font/monserrat/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
  /* Ejemplo para itálica variable font WOFF */
  font-weight: 100 900;
  /* Rango de pesos de la variable font (Thin a Black) */
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-family: "Montserrat", sans-serif;
  --font-sans: var(--font-family);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --text: #444242;
    --background: #ffffff;
    --foreground: #171717;
    --primary: #e9721f;
    --secondary: #006e66;
    --tertiary: #85bd77;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--text);
    background: var(--background);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
}